<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if(Msg) { %>
            <div class="user-message"><%= Msg %></div>
        <% } %>
        <h1 class="profile-title">
            Hi! <%= userName %>
        </h1>
        <div class="card">
            <div class="profile-image__container">
                <% if(env === 'production') { %>
                    <img class="profile-image" src="<%= url %>" alt="profile pic"/>
                <% } else { %>
                    <img class="profile-image" src="<%= url.replaceAll('src/public', '') %>" alt="profile pic"/>
                <% } %>   
            </div>
            <div class="profile__item">
                <label class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </label>
                <div class="content">
                    <label>Email Address</label>
                    <h3><%= email %></h3>
                </div>
            </div>
            <div class="profile__item">
                <label class="icon">
                    <i class="fa-solid fa-wallet"></i>
                </label>
                <div class="content">
                    <label>Wallet Balance</label>
                    <h3>$<%= balance %></h3>
                </div>
            </div>
        </div>
    </main>
<%- include('includes/end.ejs') %>

