<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />

<link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
    <div class="brand__nav" data-testid="navbar-brand">
        <span>Shortlink</span>
        <i class="fa-solid fa-link"></i>
    </div>
    <i class="fa-solid fa-bars" id="side-menu-toggle" data-testid="navber-toggle"></i>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
            </li>
            <li class="main-header__item">
                <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <form action="/logout" method="POST">
                    <button type="submit" class="<%= path === '/logout' ? 'active' : '' %>">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <% if (!isAuthenticated) { %>
                <li class="mobile-nav__item">
                    <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
                </li>
            <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="POST">
                    <button type="submit" class="<%= path === '/logout' ? 'active' : '' %>">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
        
    </nav>
    <main>
        <h1>Welcome To Shortlink</h1>
        <form class='url-form' method="POST" action="/encode" 
            novalidate>
            <% if(Msg) { %>
                <p class="<%= hasMsg ? 'user-message' : 'user-message user-message--error' %>"><%= Msg %></p>
            <% } %>
            <p>
                <div class="form-control">
                    <label for="longUrl">Enter Url</label>
                    <input 
                    class="<%= validationErrors.find(e => e.path === 'longUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="longUrl" 
                    id="longUrl" />
                </div>
            </p>
            <div class="action">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
    <script src="/js/main.js">

    </script>
    </body>
    </html>
