<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main style="text-align: center" class="success__content">
        <i class="fa-solid fa-circle-check" style="font-size: 10rem; color: rgb(65, 182, 65);"></i>
        <p>Your shortened url is <a href="/decode/<%= shortId %>">http://short.est/<%= shortId %></a></p>
        <p>You can also check the <a href="/statistic/<%= shortId %>">stats</a> or try going back to the <a href="/" style="text-decoration: none">home</a> page</p>
    </main>
<%- include('includes/end.ejs') %>

